*.log
/.coverage
/.history/
/.idea/
/.mypy_cache/
/.pytest_cache/
/.settings.sua.toml
/.vscode/
/build/
/dist/sua.build/
/docs/build/doctrees/
/docs/build/pdf/.doctrees/
/docs/build/pdf/manual.rtc
/docs/build/pdf/manual.stylelog
/src/sua.egg-info/
/src/sua/sua.egg-info/
__pycache__
coverage.xml
